.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.home-header {
    padding: 20px;
    text-align: center;
    position: relative;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-logo {
    font-size: 2.5rem;
    color: #c5ecf1;
}

.home-nav-links .nav-link {
    margin-left: 20px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding:0.5rem 20px;
    transition: color 0.3s;
}

.home-nav-links .nav-link:hover {
    color: black;
}

.hero-banner {
    margin-top: 50px;
    padding: 50px 20px;
    border-radius: 10px;
    text-align: center;
    width: 1450px;
    margin: auto;
    margin-top: 2rem;
    background-color: rgb(1, 19, 22,0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.hero-banner h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
}

.hero-banner p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    
}
.banner-options {
    /* border: 2px red solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    background-color: hsl(189, 91%, 5%,0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.banner-content{
    /* border: 2px red solid; */
    width:40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    height: fit-content;
    
}


.video-section {
    width: 58%;
    /* border: 2px red solid; */
}
.video-section div{
    margin: auto;
        margin-top: 2rem;
        text-align: center;

}

.video-section div video {
    opacity: 0.6;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.banner-item {
    display: flex;
    background-color: rgba(220, 229, 231, 0.1);
    color: white;
    min-width: 500px;
    max-width: 800px;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(4, 74, 98, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.banner-item h3 {
    font-size: 1rem;
    color: #c5ecf1;
    margin: auto;
}

.banner-item p {

    font-size: 0.9rem;
    color: #d1d5db;
    margin: auto;
}





@media (max-width: 768px) {
    .banner-options {
        flex-direction: column;
        align-items: center;
    }

    .banner-item {
        width: 100%;
    }
}

.home-content {
    padding: 50px 20px;
    flex: 1;
}

.features {
    text-align: center;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fbfaf9;
}

.features-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    max-width: 300px;
    margin-bottom: 30px;
    text-align: center;
}

.feature-item h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: black;
}

.feature-item p {
    font-size: 1rem;
    color: #cfd8dc;
}

.home-footer {
    position: relative;
    bottom: 0;
    padding: 20px;
    background-color: rgb(1, 19, 22);
    text-align: center;
}

.home-footer p {
    margin-bottom: 10px;
}

.footer-link {
    color: #00bcd4;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}





.glow-on-hover {
    width: 160px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}