.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    
}

.home-header {
    padding: 20px;
    text-align: center;
    position: relative;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-logo {
    font-size: 2.5rem;
    color: #c5ecf1;
}

.home-nav-links .nav-link {
    margin-left: 20px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 20px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
}

.home-nav-links .nav-link:hover {
    color: black;
    background-color: rgba(200, 200, 200, 0.2);
}

.hero-banner {
    margin-top: 50px;
    padding: 50px 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 1200px;
    margin: 2rem auto;
}

.hero-banner h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #c5ecf1;
}

.hero-banner p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.banner-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
}

.banner-content {
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

@keyframes popUp {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.banner-item {
    display: flex;
    background-color: rgba(220, 229, 231, 0.1);
    color: white;
    min-width: 200px;
    max-width: 300px;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(4, 74, 98, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-direction: column;
    opacity: 0;
    animation: popUp 0.6s ease forwards;
}

.banner-item:nth-child(1) {
    animation-delay: 0.1s;
}

.banner-item:nth-child(2) {
    animation-delay: 0.3s;
}

.banner-item:nth-child(3) {
    animation-delay: 0.5s;
}

.banner-item:nth-child(4) {
    animation-delay: 0.7s;
}

.banner-item h3 {
    font-size: 1.2rem;
    /* Slightly larger for better visibility */
    color: #c5ecf1;
    margin: 0.5rem 0;
    /* Added margin */
}

.banner-item p {
    font-size: 0.9rem;
    color: #d1d5db;
    margin: 0.5rem 0;
}

.banner-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(4, 74, 98, 0.5);
}

@media (max-width: 768px) {
    .banner-options {
        flex-direction: column;
        align-items: center;
    }

    .banner-item {
        width: 100%;
    }

    .hero-banner {
        padding: 30px 10px;
        /* Adjusted padding for smaller screens */
    }
}

.home-content {
    padding: 50px 20px;
    flex: 1;
}

.features {
    text-align: center;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fbfaf9;
}

.features-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    max-width: 300px;
    margin-bottom: 30px;
    text-align: center;
}

.feature-item h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #c5ecf1;
    /* Consistent color with the logo */
}

.feature-item p {
    font-size: 1rem;
    color: #cfd8dc;
}

.home-footer {
    position: relative;
    bottom: 0;
    padding: 20px;
    background-color: rgb(1, 19, 22);
    text-align: center;
}

.home-footer p {
    margin-bottom: 10px;
}

.footer-link {
    color: #00bcd4;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    text-decoration: underline;
    color: #ffffff;
    /* Change color on hover for better visibility */
}

.how-it-works {
    /* background-color: rgb(1, 19, 22, 0.8); */
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.how-it-works h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #c5ecf1;
}

.how-it-works p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-item {
    font-size: 1rem;
    color: #d1d5db;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(220, 229, 231, 0.1);
    border-radius: 5px;
    width: 80%;
    /* Adjust the width as needed */
    max-width: 600px;
    /* Optional: Set a max width */
    text-align: left;
    /* Align text to the left */
}

.tutorial-video {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
button{
    width: 100%;
    margin-top: 1rem;
    color: white;
    background-color: transparent;
    border: 1px rgb(245, 240, 240) solid;
    cursor: pointer;
}
button:hover{
    background-color: rgb(251, 249, 249);
    color: black;
    border:none;
}