.summarize-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.summarize-header {
    min-height: 90vh;
    padding: 20px;
    text-align: center;
    position: relative;
}



.summerize-hero-banner {
    margin-top: 50px;
    padding: 50px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(1, 19, 22, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.hero-banner h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.summerize-drag_drop {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summerize-drag_drop div {
    background-color: rgba(67, 67, 96, 0.8);
    width: 190px;
    padding: 8px;
    border-radius: 5px;

    margin: auto;
    font-size: 20px;
    cursor: pointer;

}

.summerize-drag_drop input {
    width: 250px;
    margin: auto;
}




.summarize-footer {
    position: relative;
    bottom: 0;
    padding: 20px;
    background-color: rgb(1, 19, 22);
    text-align: center;
}

.summarize-footer p {
    margin-bottom: 10px;
}

.footer-link {
    color: #00bcd4;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.extracted-text-section {
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(244, 241, 241);
    overflow-y: scroll;
    max-height: 500px;
    width: 100%;
    margin: auto;
    padding: 2rem;

    line-height: 1.2rem;
    text-align: left;
    border-radius: 1rem;
}

.extracted-text-section::-webkit-scrollbar {
    display: none;
}

.extracted-text-section h3 {
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
    color: #e56186;
}

.extracted-text-section pre {
    font-size: 0.9rem;
}

.loading {
    color: #252121;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #252121;
    border-top: 5px solid #ffffff;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn{
    width: 200px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(7, 151, 234, 0.5);
}