.pdf-to-jpg-container {
    background-color: rgb(0, 0, 0,0.1);
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pdf-header {
    text-align: center;
    /* Centered text */
    margin-bottom: 20px;
    /* Space below the header */
}

.pdf-title {
    font-size: 2rem;
    color: #007bff;
}

.loading-indicator {
    font-size: 1.2rem;
    /* Increased font size */
    color: #333;
    /* Darker text color */
}

.error-message {
    color: #ff4d4d;
    /* Red for error messages */
    margin: 10px 0;
    /* Space around error messages */
}

.image-conversion-section {
    margin-top: 20px;
}
.image-conversion-section h3{
    color:#fffefe;
}

.converted-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.image-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.converted-image {
    max-width: 100%;
    border-radius: 8px;
}
button{
    background-color: black;
}

