button {
    /* display: inline-block; */
    padding: 10px 20px;
    font-size: 1.1rem;
    /* color:black; */
    border-radius: 10px;
    border: 3px red solid;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(2, 22, 25, 0.5);
}

button:hover {
    background-color: #000000;
    color: rgb(235, 226, 226);
    /* Darker shade on hover */
    transform: translateY(-3px);
    /* Lift effect */
    box-shadow: 0 8px 25px rgba(0, 188, 212, 0.7);
    /* Enhanced shadow on hover */
}
body{
    background-color: rgb(1, 19, 22);
}